//META{"name":"Vegeta","description":"Vegeta theme","author":"Raphandryu","version":"1.0"}*// {}

/* imports urls here */
@import url(https://raw.githubusercontent.com/Raphandryu/discord_vegeta_theme/master/transparency.css?token=AJL3SKYA2AG5F5YP63HUVSK42FNN4);
@import url(https://raw.githubusercontent.com/Raphandryu/discord_vegeta_theme/master/status.css?token=AJL3SK32A3SUVKQ6KWFJTVK42FNJA);
@import url(https://raw.githubusercontent.com/Raphandryu/discord_vegeta_theme/master/Activity_button.css?token=AJL3SKYYC7Z7JA53DMP5XZ242FNCS);
@import url(https://raw.githubusercontent.com/Raphandryu/discord_vegeta_theme/master/code.css?token=AJL3SKYZBR2KRC7FNH3BXQK42FNHE);
:root {
	/* background image URL */
	--background-image: url('https://images2.alphacoders.com/828/thumb-1920-828919.png') center/cover no-repeat;
	/* default background image 'https://hdqwalls.com/wallpapers/black-panther-4k-movie-poster-vi.jpg */
	/* Transparency */
    --transparency-level: rgba(0,0,0,0.25); 
	/* transparency of top windows bar works different from the top one for some reason you have to try different values to match transparecy (aprox value is top value x 3 = result) */
	--transparency-level-top: rgba(0,0,0,0.7);
	/* ESC Button color at settings */
	--ESC-Button-color: rgba(43, 99, 57, 0.9);
	/* transparency of settings page */
	--transparency-settings: rgba(0,0,0,0.4);
	/* blue main color */
	--color-main: rgba(8, 6, 6, 0.60);
